/*.alert_link h5{
    font-weight: 600;

}
.alert-custom{
    color: #000000;
    background-color: #f4f207;
    border-color: #ffeeba;
}
.alert-custom-link{
    color: red;
}
.alert_dismiss .alert-warning {
    color: #ffffff;
    background-color: #ff2b4f;
    border-color: #ffeeba;
}

.badge_custom{
margin-left: 186px;
}
.badges{
    font-size: 25px;
}
.vertical_drop_down button{
    border: 0.5px solid #929394 !important;
  /*  padding: 0 50px 0 5px !important;

  */

  /*font-family: 'PT Sans', sans-serif; */
  /*Header Starts*/
  body{
    font-family: 'PT Sans', sans-serif;
    color: #010101;
}
header{
    background-color: #fcdb00;
    padding: 10px 0;
}
.logo{

}
.menu ul li a{
    font-weight: 700 !important;
    font-size: 22px !important;
    color: black !important;
    text-transform: capitalize;
    padding: 0 40px !important;
    transition: 0.3s !important;

}
.menu ul li a:last-child{
    padding-right: 0 !important;
}
.menu ul li a:hover{
    color: white !important;

}
/*Header Ends*/
/*Slider Starts*/
#carousel_Indicators {
}

.slider {
  background-color: #fcdb00;
}

.slider .container {
    padding-top: 93px;
}

.row {
}

.col-md-12 {
}

.carousel-indicators {
}

.active {
}

.carousel-inner {
}

.carousel-item.active {
}

.col-md-5 {
}

.slider_content {
}
.slider_content h1{
    font-weight: 700;
    font-size: 32px;
    color: #010101;
    margin: 0;
}
.slider_content h2{
    font-weight: 400;
    font-size: 20px;
    color: #313841;
    line-height: 1.6;
    margin: 20px 0;
}
.slider_content p{
    font-weight: 400;
    font-size: 16px;
    color: #555555;
    line-height: 1.6;
    margin-top: 0;
    margin-bottom: 30px;
}

.list-inline {
}

.list-inline-item {
}

.fab.fa-apple {
    color: black;
}

.fab.fa-android {
    color: black;
}

.fab.fa-windows {
    color: black;
}

.offset-2.col-md-5 {
}
.slider_icon{

}
.slider_icon li i{
    font-size: 42px;
    margin-right: 20px;
}
.slider_icon li i:hover{
    color: white;
    transform: scale(1.1);
}
.slider_image {

}
.slider_image img{
    transition: 0.3s;
}
.slider_image img:hover{
   transform: scale(1.3);

}
.slider_icon1 li i{
    font-size: 182px;
    margin-top: 10px;
    margin-right: 100px;
}
.slider_icon1 li i:hover{
    color: white;
    -ms-transform: skewY(20deg); /* IE 9 */
    transform: skewY(20deg);
}
.slider_icon2 li i{
    font-size: 182px;
    margin-top: 100px;
    margin-right: 100px;
}
.slider_icon2 li i:hover{
    color: white;
    -ms-transform: rotate(20deg); /* IE 9 */
    transform: rotate(20deg);
}

.transform{
  background-color: #fcdb00;
}

.transform h2{
  font-weight: 700;
  font-size: 32px;
}



/*Slider Ends*/
/*
.slider{
    background-color: #fcdb00; 
}
.slider-next h1{
    font-weight: 700 !important;
    font-size: 32px !important;
    color: black !important;
}
.slider-next h2{
    font-weight: 700 !important;
    font-size: 22px !important;
    color: black !important;
}
.slider-next p{
    font-weight: 400 !important;
    font-size: 16px !important;
    color: #555555 !important;
}
.slider-next ul li{
    font-size: 42px !important;
    letter-spacing: 15px !important;
    color: black !important;
}
.slider{
    padding-top: 20px;
    padding-right: 0;
}

*/




